 .Awardsheading{
    text-align: center;
    color: rgb(236, 7, 7);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 3rem;
    padding-top: 5rem;
    text-decoration: underline;
 }

 .row .image {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: rgb(23, 4, 4); */
   flex-wrap: wrap;
   margin-top: 1%;
  
}





@media screen and (max-device-width: 480px)
and (orientation: portrait){
    .Awardsheading{
        padding-bottom: 3rem;
        font-size: 2.6rem;
       text-decoration: underline;
       margin-bottom: -10%;
     }
    
 .image img {
       margin: 7%;
    } 
}


/* @media  (min-device-width:425px){
   .Awardsheading{
      padding-bottom: 3rem;
      font-size: 2.3rem;
     text-decoration: underline;
     margin-bottom: -6%;
   }
  
.image img {
     margin: 5%;
  }
} */

/* @media  (min-device-width:912px){
   .Awardsheading{
      padding-bottom: 3rem;
      font-size: 2.3rem;
     text-decoration: underline;
     margin-bottom: -1%;
   }
  
.image img {
     margin: 2%;
  }
} */