.footer{
    background-image: linear-gradient(45deg, rgb(48, 2, 48) 27%, rgb(147, 47, 205)100%);
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height:5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}



.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    padding:1rem;
}

.footer .credit img{
    width: 20%;
}

.footer .credit span{
    color:var(--main-color);
}

@media screen and (max-device-width: 480px)
and (orientation: portrait){

}


